/*
-----------VARIABLES----------
*/

/* COLORES */
$footerColor: #272727;
$headerColor: #1f1717;
$white: #fff;
$navItemsColor: #8d7124;
$iconFooterColor: #e7cf9c;
$negroTransparente: rgba(0, 0, 0, 0.5);
/* COLORES */

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Dela+Gothic+One&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fontPixel: "Pixelify Sans", sans-serif;

/* BREAKPOINT */
$minXsMobile: 0px;
$maxXsMobile: 575px;

$minSmMobile: 576px;
$maxSmMobile: 767px;

$minDesktopMedium: 768px;
$maxDesktopMedium: 991px;

$minDesktopLarge: 992px;
$maxDesktopLarge: 1320px;

$minDesktopXLarge: 1321px; 
$maxDesktopXLarge: 1920px;
/* BREAKPOINT */